@import "~normalize.css"

.container {
    background-color: pink;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/logo.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


@import 'fonts.css';

body {
    font-family: "Avant";
}

p.font_test {
    font-family: 'Avant';
}

p {
    color: darkblue;
}